<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<% for( let i = 0; i < list.length; i++ ) { %>
		<a href="/watch?q=<%= list[i].id %> "><%= list[i].title  %></a>
	<% } %>
	<script src="static/scripts/index.js"></script>
</body>
</html>