<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login | Register</title>
	</head>
	<body>
		<form method="post" id="f">
			<input type="text" name="username" id="username" placeholder="username" required/>
			<input type="password" name="password" id="password" placeholder="password" required/>
			<input type="submit" id="ad" value="Login">
			<input type="submit" id="ab" value="Register">
		</form>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js" integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/static/scripts/login.js" defer></script>
	</body>
</html>
