<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Upload</title>
	</head>
	<body>
		<form>
			<input type="text" name="title" placeholder="title" accept="video/*">
			<input type="file" name="video" />
			<input type="submit" />
		</form>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
			integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="static/scripts/upload.js"></script>
	</body>
</html>
