<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h4><%= title %></h4>
		<video src="/api/view?id=<%=id%>" controls autoplay></video>
		<p>
			<%= like %>
			<button id="like">like</button>
		</p>
		<p>
			<%= dislike %>
			<button id="dislike">dislike</button>
		</p>
		<h4>comments</h4>
		<textarea id="com" cols="30" rows="4" required></textarea>
		<button id="comment">send</button>
		<div id="comsec">
			<br />
			<% for( let i = 0; i < comments.length; i++ ) { %>
			<p><%= comments[i] %></p>
			<hr />
			<% } %>
		</div>
		<script src="static/scripts/watch.js"></script>
	</body>
</html>
